@media screen and (max-width:576px){
    .nav-section, .content-nav, .btn-item, .banar-img{
        flex-direction: column;
    } 
} 

@media screen and (max-width:576px){
    .main-parent, .run-container, .chelang-sec, .label-1{
        flex-direction: column;
    }
}

@media screen and (max-width:576px){
    .footer-container{
        flex-direction: column;
    }
}