


/* Special styels */
body{
    color: white;
    background-color: rgb(0, 0, 0);
}

*{
    margin: 2%;
    
}
.all-p{
    font-size: 12px;
    padding-right: 10px;
    color: rgba(187, 187, 187, 0.875);
}

/* Nav bar */
.nav{
    display: flex;
    justify-content:space-between;
}


.head{
    color: orangered;
    font-size: 40px;
    font-weight: bold;
    display: flex;
 
 }


.content-nav{
    justify-content: space-evenly;
    gap: 30px;    
    font-size: 20px;
    display: flex;
    border-collapse: 2rem;

}

.item{
    background-color:orangered;
    padding: 1rem;
    border-radius: 1.5rem;
    text-align: center;

}

/* Banar styels */

.banar{
    text-align: left;
    background-color: rgba(153, 153, 153, 0.029);
    height: 25%;
    margin-top: 5px;
    display: grid;
    grid-template-columns:1fr 0.5fr;
}

.btn-item{
    display: flex;
}

.btn-primry{
    background-color:orangered;
    padding: 10px;
    width: 50%;
    color: white;
    border-radius: 2rem;
    text-align: center;
    border: none;
    margin-top:10px;
    font-size: 16px;
}


.btn{
    padding: 10px;
    width: 50%;
    margin-top:10px;
    color: white;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.896);
    
}

.banar-container{
   width: 50%;
}
.banar-head{
    font-size: 80px;
    font-weight: bolder;
}
.banar-img{
    background-image: url(../images/Images\ 2.png);
    display: flex;
    background-repeat: no-repeat;
    display:inline;
}
.banar-item-1{
   
    text-align:left;
    padding-left: 60%;
    margin-top: 10rem;
    
}

.banar-item-2{
    margin-top: 45%;
    margin-right: 40%;
    
    
}

.banar-item-1 .banar-item-2 h2{
    font-size: 20px;
    font-weight: bold;
}


/* main styels */

/* section 1 */
.frist-item{
    text-align:center;
    justify-content: center; 
    padding: 5px 5rem;
}
.frist-item h1{
    font-size:40px;
}

.main-parent{
    display: flex;
   
}
.main-parent div h3{
    font-size: 20px;
}
.cyrcle-shape{
    border-radius: 10rem;
}

/* main section 2  */
.main-container-2{
    display: flex;
    
}
.run-img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.main-parent-2{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

